In [1]:
import requests
import json
from pprint import pprint
import sqlalchemy as sqla
from sqlalchemy import create_engine
import traceback
import glob
import os
import simplejson as simjson
import time
from IPython.display import display
import mysql
import pymysql

In [74]:
# CONTRACT = 'Dublin'
# APIKEY = '7b9a350297fefef5f4147e65b6bc3114aacde014'
# STATIONS = 'https://api.jcdecaux.com/vls/v1/stations'
# request = requests.get(STATIONS, params={'contract':CONTRACT,'apiKey':APIKEY})
# pprint(json.loads(request.text))
# print(request.text)

In [75]:
# To get a specfic station
# THE PARAMS ARE INSERTED FOLLOWING THE '?' SYMBOL IN THE ADDRESS:
# THE '&' SYMBOL IS USED TO CHAIN THE PARAMETERS
# https://api.jcdecaux.com/vls/v1/stations?contract={contract_name}&apiKey={api_key
# req2 = requests.get("{}/{}".format(STATIONS, 42), params={'contract':CONTRACT, 'apiKey':APIKEY})
# pprint(json.loads(req2.text))

In [76]:
# Convert the text to json, then access the object (dictionary) by key
# jsonData = json.loads(req2.text)
# print(jsonData['number'])

In [77]:
# # Same for the whole dataset
# stations = json.loads(request.text)
# Can 
# print(jsonDATA[1])

# Check for the presence of a station in the set
# def check_for_station_num(stNum):
#     for station in stations:
#         if station['number'] == stNum:
# #             print(station['number'], station['name'])
#             return True
#     return False
    
#     print(station['number'], station['name'])

In [101]:
# check_for_station_num(3)

In [79]:
# # Create engine object
# # Create code to insert relevent data into DB table
# # 

# DBURL = 'swen-db.cakbys7wmjxf.eu-west-1.rds.amazonaws.com'
# PORT = '3306'
# DB = 'dublin_bikes'
# USER = 'swen_main_'
# PASSWORD = 'mixednuts'

# # engine = create_engine('mysql+mysqldb://swen_main_:mixednuts@swen-db.cakbys7wmjxf.eu-west-1.rds.amazonaws.com:3306/dublin_bikes')
# engine = create_engine("mysql+pymysql://{}:{}@{}:{}/{}".format(USER, PASSWORD, DBURL, PORT, DB))

In [99]:
# sql1 = """CREATE TABLE IF NOT EXISTS stations1 (
# stationNUM INT PRIMARY KEY NOT NULL,
# name VARCHAR(60) NOT NULL,
# address VARCHAR(60) NOT NULL,
# bike_stands INTEGER(11),
# banking INTEGER(11),
# bonus INTEGER(11),
# position_lat REAL,
# position_lon REAL,
# contract VARCHAR(60),
# status VARCHAR(60)
# )"""

# # To drop a column:
# """ALTER TABLE `dublin_bikes`.`stations` 
# DROP COLUMN `hello`;"""
# # To add a column
# """ALTER TABLE `dublin_bikes`.`stations`
# ADD COLUMN `hello` VARCHAR(45) NULL DEFAULT NULL AFTER `longitude`;"""


# sql2 = """CREATE TABLE IF NOT EXISTS availability1 (
# stationNUM INT PRIMARY KEY NOT NULL,
# available_bikes INT NOT NULL,
# available_bike_stands INT NOT NULL,
# last_update INT NOT NULL,
# FOREIGN KEY (stationNUM) REFERENCES stations1(stationNUM))"""

# with engine.begin() as conn:
# #     conn.execute(sql1)
#     conn.execute(sql2)
# #     print(conn.fetchall().)
# #     for thingy in conn.execute("SHOW VARIABLES"):
# #         print(thingy)

In [82]:
# {'address': 'Smithfield North',
#  'banking': True,
#  'bike_stands': 30,
#  'bonus': False,
#  'contract_name': 'Dublin',
#  'last_update': 1551029081000,
#  'name': 'SMITHFIELD NORTH',
#  'number': 42,
#  'position': {'lat': 53.349562, 'lng': -6.278198},
#  'status': 'OPEN'}

In [83]:
# # Function to write data to db
# def write_to_db(stationjson, connection):
#     """Takes two positional arguments;
#     the jsonfile and the connection to use."""
#     try:
#         for station in stationjson:
# #             print(station['number'], station['name'], station['address'], station['bike_stands'], station['banking'],
# #                  station['bonus'], station['position']['lat'], station['position']['lng'], station['contract_name'],
# #                  station['status'])

#             data_points = (station.get('number'), station.get('name'), station.get('address'), 
#                            station.get('bike_stands'), int(station.get('banking')), int(station.get('bonus')), 
#                            station.get('position').get('lat'), 
#                            station.get('position').get('lng'), 
#                            station.get('contract_name'),
#                           station.get('status'))
#             connection.execute("INSERT INTO stations1 values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)", data_points)
#     except:
#         print("An error occured, likey the result of attempting to duplicate rows")

In [84]:
# # write_to_db(stations, inserter)
# data_points = (station.get('number'), station.get('name'), station.get('address'), 
#                        station.get('bike_stands'), int(station.get('banking')), int(station.get('bonus')), 
#                        station.get('position').get('lat'), 
#                        station.get('position').get('lng'), 
#                        station.get('contract_name'),
#                       station.get('status'))
# print(data_points)

In [100]:
# Open connection and call function to write station data to db
# with engine.begin() as inserter:
#     write_to_db(stations, inserter)

In [1]:
CONTRACT = 'Dublin'
APIKEY = '7b9a350297fefef5f4147e65b6bc3114aacde014'
STATIONS = 'https://api.jcdecaux.com/vls/v1/stations'

DBURL = 'swen-db.cakbys7wmjxf.eu-west-1.rds.amazonaws.com'
PORT = '3306'
DB = 'dublin_bikes'
USER = 'swen_main_'
PASSWORD = 'mixednuts'

# request = requests.get(STATIONS, params={'contract':CONTRACT,'apiKey':APIKEY})
# engine = create_engine("mysql+pymysql://{}:{}@{}:{}/{}".format(USER, PASSWORD, DBURL, PORT, DB))

In [2]:
# availability = json.loads(request.text)
# for data in availability:
#     pprint(data)

In [3]:
1551567912000
1551568519000
1551569384000

1551569384000

In [4]:
def avail_to_db():
    request = requests.get(STATIONS, params={'contract':CONTRACT,'apiKey':APIKEY})
    availability = json.loads(request.text)
    engine = create_engine("mysql+pymysql://{}:{}@{}:{}/{}".format(USER, PASSWORD, DBURL, PORT, DB))
    
    for data in availability:
        data_points = (data.get('number'), data.get('available_bikes'), data.get('available_bike_stands'), 
                       data.get('last_update'), data.get('number')*data.get('last_update'))
#         engine.execute("INSERT INTO availability_data values (%s,%s,%s,%s,%s)", data_points)
        print(data_points)

In [5]:
avail_to_db()

NameError: name 'requests' is not defined

In [6]:
#     with engine.begin() as writer:
#         avail_to_db(availability, writer)

In [7]:
# print(engine.execute("""Select * from availability_data;""").fetchall())

In [16]:
import requests
import json
from pprint import pprint
import sqlalchemy as sqla
from sqlalchemy import create_engine
import traceback
import glob
import os
import simplejson as simjson
import time
from IPython.display import display
import mysql
import pymysql

CONTRACT = 'Dublin'
APIKEY = '7b9a350297fefef5f4147e65b6bc3114aacde014'
STATIONS = 'https://api.jcdecaux.com/vls/v1/stations'
DBURL = 'swen-db.cakbys7wmjxf.eu-west-1.rds.amazonaws.com'
PORT = '3306'
DB = 'dublin_bikes'
USER = 'swen_main_'
PASSWORD = 'mixednuts'

def avail_to_db():
    tm = time.time_ns()
    print(tm)
    request = requests.get(STATIONS, params={'contract':CONTRACT,'apiKey':APIKEY})
    availability = json.loads(request.text)
    engine = create_engine("mysql+pymysql://{}:{}@{}:{}/{}".format(USER, PASSWORD, DBURL, PORT, DB))
    for data in availability:
        data_points = (data.get('number'), data.get('available_bikes'), data.get('available_bike_stands'), 
                       data.get('last_update'), int(data.get('number')*tm), int(tm))
        engine.execute("INSERT INTO availability_data values (%s,%s,%s,%s,%s,%s)", data_points)
#         print(data_points)
#         print("%s,%s,%s,%s,%s,%s" % data_points)

# while True: 
#     avail_to_db()
#     time.sleep(5*60)

avail_to_db()

1551620640657101000

In [107]:
# The time stamp of the local machine is in the same format as the API
tm = time.time_ns()
print(tm)
type(tm)

1551619996548099000

int

In [ ]:
# Entry ID will equal the station number by the time stamp in ns.