In [1]:
import requests
import json
from pprint import pprint
import sqlalchemy as sqla
from sqlalchemy import create_engine
import traceback
import glob
import os
import simplejson as simjson
import time
from IPython.display import display
import mysql
import pymysql

In [74]:
# CONTRACT = 'Dublin'
# APIKEY = '7b9a350297fefef5f4147e65b6bc3114aacde014'
# STATIONS = 'https://api.jcdecaux.com/vls/v1/stations'
# request = requests.get(STATIONS, params={'contract':CONTRACT,'apiKey':APIKEY})
# pprint(json.loads(request.text))
# print(request.text)

In [75]:
# To get a specfic station
# THE PARAMS ARE INSERTED FOLLOWING THE '?' SYMBOL IN THE ADDRESS:
# THE '&' SYMBOL IS USED TO CHAIN THE PARAMETERS
# https://api.jcdecaux.com/vls/v1/stations?contract={contract_name}&apiKey={api_key
# req2 = requests.get("{}/{}".format(STATIONS, 42), params={'contract':CONTRACT, 'apiKey':APIKEY})
# pprint(json.loads(req2.text))

In [76]:
# Convert the text to json, then access the object (dictionary) by key
# jsonData = json.loads(req2.text)
# print(jsonData['number'])

In [77]:
# # Same for the whole dataset
# stations = json.loads(request.text)
# Can 
# print(jsonDATA[1])

# Check for the presence of a station in the set
# def check_for_station_num(stNum):
#     for station in stations:
#         if station['number'] == stNum:
# #             print(station['number'], station['name'])
#             return True
#     return False
    
#     print(station['number'], station['name'])

In [101]:
# check_for_station_num(3)

In [79]:
# # Create engine object
# # Create code to insert relevent data into DB table
# # 

# DBURL = 'swen-db.cakbys7wmjxf.eu-west-1.rds.amazonaws.com'
# PORT = '3306'
# DB = 'dublin_bikes'
# USER = 'swen_main_'
# PASSWORD = 'mixednuts'

# # engine = create_engine('mysql+mysqldb://swen_main_:mixednuts@swen-db.cakbys7wmjxf.eu-west-1.rds.amazonaws.com:3306/dublin_bikes')
# engine = create_engine("mysql+pymysql://{}:{}@{}:{}/{}".format(USER, PASSWORD, DBURL, PORT, DB))

In [99]:
# sql1 = """CREATE TABLE IF NOT EXISTS stations1 (
# stationNUM INT PRIMARY KEY NOT NULL,
# name VARCHAR(60) NOT NULL,
# address VARCHAR(60) NOT NULL,
# bike_stands INTEGER(11),
# banking INTEGER(11),
# bonus INTEGER(11),
# position_lat REAL,
# position_lon REAL,
# contract VARCHAR(60),
# status VARCHAR(60)
# )"""

# # To drop a column:
# """ALTER TABLE `dublin_bikes`.`stations` 
# DROP COLUMN `hello`;"""
# # To add a column
# """ALTER TABLE `dublin_bikes`.`stations`
# ADD COLUMN `hello` VARCHAR(45) NULL DEFAULT NULL AFTER `longitude`;"""


# sql2 = """CREATE TABLE IF NOT EXISTS availability1 (
# stationNUM INT PRIMARY KEY NOT NULL,
# available_bikes INT NOT NULL,
# available_bike_stands INT NOT NULL,
# last_update INT NOT NULL,
# FOREIGN KEY (stationNUM) REFERENCES stations1(stationNUM))"""

# with engine.begin() as conn:
# #     conn.execute(sql1)
#     conn.execute(sql2)
# #     print(conn.fetchall().)
# #     for thingy in conn.execute("SHOW VARIABLES"):
# #         print(thingy)

In [82]:
# {'address': 'Smithfield North',
#  'banking': True,
#  'bike_stands': 30,
#  'bonus': False,
#  'contract_name': 'Dublin',
#  'last_update': 1551029081000,
#  'name': 'SMITHFIELD NORTH',
#  'number': 42,
#  'position': {'lat': 53.349562, 'lng': -6.278198},
#  'status': 'OPEN'}

In [83]:
# # Function to write data to db
# def write_to_db(stationjson, connection):
#     """Takes two positional arguments;
#     the jsonfile and the connection to use."""
#     try:
#         for station in stationjson:
# #             print(station['number'], station['name'], station['address'], station['bike_stands'], station['banking'],
# #                  station['bonus'], station['position']['lat'], station['position']['lng'], station['contract_name'],
# #                  station['status'])

#             data_points = (station.get('number'), station.get('name'), station.get('address'), 
#                            station.get('bike_stands'), int(station.get('banking')), int(station.get('bonus')), 
#                            station.get('position').get('lat'), 
#                            station.get('position').get('lng'), 
#                            station.get('contract_name'),
#                           station.get('status'))
#             connection.execute("INSERT INTO stations1 values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)", data_points)
#     except:
#         print("An error occured, likey the result of attempting to duplicate rows")

In [84]:
# # write_to_db(stations, inserter)
# data_points = (station.get('number'), station.get('name'), station.get('address'), 
#                        station.get('bike_stands'), int(station.get('banking')), int(station.get('bonus')), 
#                        station.get('position').get('lat'), 
#                        station.get('position').get('lng'), 
#                        station.get('contract_name'),
#                       station.get('status'))
# print(data_points)

In [100]:
# Open connection and call function to write station data to db
# with engine.begin() as inserter:
#     write_to_db(stations, inserter)

In [61]:
CONTRACT = 'Dublin'
APIKEY = '7b9a350297fefef5f4147e65b6bc3114aacde014'
STATIONS = 'https://api.jcdecaux.com/vls/v1/stations'

DBURL = 'swen-db.cakbys7wmjxf.eu-west-1.rds.amazonaws.com'
PORT = '3306'
DB = 'dublin_bikes'
USER = 'swen_main_'
PASSWORD = 'mixednuts'

# request = requests.get(STATIONS, params={'contract':CONTRACT,'apiKey':APIKEY})
# engine = create_engine("mysql+pymysql://{}:{}@{}:{}/{}".format(USER, PASSWORD, DBURL, PORT, DB))

In [76]:
# availability = json.loads(request.text)
# for data in availability:
#     pprint(data)

In [53]:
1551567912000
1551568519000
1551569384000

1551568519000

In [ ]:
def avail_to_db():
    request = requests.get(STATIONS, params={'contract':CONTRACT,'apiKey':APIKEY})
    availability = json.loads(request.text)
    engine = create_engine("mysql+pymysql://{}:{}@{}:{}/{}".format(USER, PASSWORD, DBURL, PORT, DB))
    
    for data in availability:
        data_points = (data.get('number'), data.get('available_bikes'), data.get('available_bike_stands'), 
                       data.get('last_update'), data.get('number')*data.get('last_update'))
#         engine.execute("INSERT INTO availability_data values (%s,%s,%s,%s,%s)", data_points)
        print(data_points)

In [ ]:
avail_to_db()

In [74]:
#     with engine.begin() as writer:
#         avail_to_db(availability, writer)

In [75]:
# print(engine.execute("""Select * from availability_data;""").fetchall())

In [ ]:
import requests
import json
from pprint import pprint
import sqlalchemy as sqla
from sqlalchemy import create_engine
import traceback
import glob
import os
import simplejson as simjson
import time
from IPython.display import display
import mysql
import pymysql
import time

CONTRACT = 'Dublin'
APIKEY = '7b9a350297fefef5f4147e65b6bc3114aacde014'
STATIONS = 'https://api.jcdecaux.com/vls/v1/stations'
DBURL = 'swen-db.cakbys7wmjxf.eu-west-1.rds.amazonaws.com'
PORT = '3306'
DB = 'dublin_bikes'
USER = 'swen_main_'
PASSWORD = 'mixednuts'

def avail_to_db():
    request = requests.get(STATIONS, params={'contract':CONTRACT,'apiKey':APIKEY})
    availability = json.loads(request.text)
    engine = create_engine("mysql+pymysql://{}:{}@{}:{}/{}".format(USER, PASSWORD, DBURL, PORT, DB))
    for data in availability:
        data_points = (data.get('number'), data.get('available_bikes'), data.get('available_bike_stands'), 
                       data.get('last_update'), data.get('number')*data.get('last_update'))
#         engine.execute("INSERT INTO availability_data values (%s,%s,%s,%s,%s)", data_points)
        print(data_points)

while True: 
    avail_to_db()
    time.sleep(5*60)

(42, 9, 21, 1551571197000, 65165990274000)
(30, 0, 20, 1551571181000, 46547135430000)
(54, 9, 24, 1551570852000, 83784826008000)
(108, 8, 32, 1551571174000, 167569686792000)
(56, 21, 19, 1551571168000, 86887985408000)
(6, 9, 11, 1551571086000, 9309426516000)
(18, 26, 4, 1551570973000, 27928277514000)
(32, 14, 16, 1551571076000, 49650274432000)
(52, 5, 27, 1551571133000, 80681698916000)
(48, 25, 15, 1551570838000, 74475400224000)
(13, 6, 24, 1551570805000, 20170420465000)
(43, 19, 11, 1551570959000, 66717551237000)
(81, 25, 15, 1551570990000, 125677250190000)
(31, 1, 19, 1551570700000, 48098691700000)
(98, 19, 21, 1551571091000, 152053966918000)
(14, 18, 12, 1551570947000, 21721993258000)
(23, 24, 6, 1551571031000, 35686133713000)
(106, 4, 36, 1551570762000, 164466500772000)
(112, 11, 19, 1551570784000, 173775927808000)
(68, 3, 37, 1551571076000, 105506833168000)
(74, 22, 8, 1551570831000, 114816241494000)
(87, 6, 32, 1551570612000, 134986643244000)
(84, 16, 14, 1551570839000, 130331950476000)
(90, 0, 0, 1551570947000, 139641385230000)
(11, 0, 30, 1551571175000, 17067282925000)
(17, 3, 17, 1551571167000, 26376709839000)
(45, 26, 4, 1551570951000, 69820692795000)
(114, 10, 30, 1551571060000, 176879100840000)
(72, 1, 24, 1551570623000, 111713084856000)
(63, 10, 25, 1551570685000, 97748953155000)
(113, 10, 30, 1551571123000, 175327536899000)
(91, 28, 2, 1551571001000, 141192961091000)
(99, 0, 30, 1551570999000, 153605528901000)
(9, 12, 12, 1551571091000, 13964139819000)
(67, 17, 23, 1551570877000, 103955248759000)
(55, 5, 31, 1551571154000, 85336413470000)
(62, 0, 40, 1551570926000, 96197397412000)
(5, 25, 15, 1551571202000, 7757856010000)
(97, 15, 25, 1551570907000, 150502377979000)
(61, 11, 14, 1551570729000, 94645814469000)
(77, 7, 22, 1551570989000, 119470966153000)
(73, 2, 28, 1551570851000, 113264672123000)
(4, 5, 15, 1551571028000, 6206284112000)
(49, 8, 32, 1551571063000, 76026982087000)
(19, 4, 26, 1551570740000, 29479844060000)
(7, 6, 23, 1551570764000, 10860995348000)
(60, 18, 12, 1551571143000, 93094268580000)
(102, 5, 35, 1551570758000, 158260217316000)
(38, 32, 8, 1551570958000, 58959696404000)
(53, 0, 40, 1551570938000, 82233259714000)
(58, 25, 15, 1551570759000, 89991104022000)
(66, 19, 21, 1551570961000, 102403683426000)
(104, 10, 30, 1551570741000, 161363357064000)
(101, 6, 24, 1551571073000, 156708678373000)
(115, 20, 10, 1551571059000, 178430671785000)
(47, 1, 39, 1551571169000, 72923844943000)
(8, 7, 23, 1551570960000, 12412567680000)
(27, 13, 7, 1551570817000, 41892412059000)
(16, 7, 13, 1551570678000, 24825130848000)
(96, 13, 17, 1551571163000, 148950831648000)
(82, 4, 18, 1551571018000, 127228823476000)
(76, 22, 16, 1551570880000, 117919386880000)
(71, 40, 0, 1551570813000, 110161527723000)
(79, 6, 21, 1551571087000, 122574115873000)
(69, 0, 40, 1551570637000, 107058373953000)
(25, 17, 13, 1551571142000, 38789278550000)
(51, 9, 31, 1551571188000, 79130130588000)
(37, 3, 27, 1551570908000, 57408123596000)
(59, 0, 20, 1551571006000, 91542689354000)
(95, 1, 39, 1551570860000, 147399231700000)
(94, 20, 20, 1551570762000, 145847651628000)
(105, 10, 26, 1551571068000, 162914962140000)
(36, 12, 28, 1551571031000, 55856557116000)
(93, 40, 0, 1551570961000, 144296099373000)
(22, 7, 13, 1551570997000, 34134561934000)
(50, 1, 39, 1551571085000, 77578554250000)
(110, 4, 36, 1551571132000, 170672824520000)
(12, 2, 18, 1551571020000, 18618852240000)
(34, 9, 21, 1551570766000, 52753406044000)
(78, 11, 29, 1551570686000, 121022513508000)
(2, 3, 17, 1551571047000, 3103142094000)
(75, 14, 26, 1551570922000, 116367819150000)
(111, 8, 32, 1551571054000, 172224386994000)
(26, 8, 12, 1551571028000, 40340846728000)
(65, 2, 38, 1551571080000, 100852120200000)
(15, 3, 13, 1551570675000, 23273560125000)
(86, 16, 22, 1551570692000, 133435079512000)
(35, 1, 29, 1551570863000, 54304980205000)
(10, 13, 3, 1551571200000, 15515712000000)
(100, 19, 6, 1551570820000, 155157082000000)
(24, 1, 19, 1551570961000, 37237703064000)
(64, 13, 27, 1551571117000, 99300551488000)
(109, 6, 23, 1551570962000, 169121234858000)
(85, 29, 6, 1551570693000, 131883508905000)
(107, 5, 35, 1551570644000, 166018058908000)
(33, 15, 8, 1551571172000, 51201848676000)
(44, 5, 25, 1551570789000, 68269114716000)
(89, 2, 38, 1551571070000, 138089825230000)
(57, 2, 21, 1551571059000, 88439550363000)
(80, 27, 13, 1551571143000, 124125691440000)
(41, 4, 16, 1551570687000, 63614398167000)
(3, 5, 15, 1551571056000, 4654713168000)
(46, 9, 11, 1551570861000, 71372259606000)
(40, 14, 7, 1551571192000, 62062847680000)
(29, 27, 2, 1551571072000, 44995561088000)
(70, 15, 13, 1551570962000, 108609967340000)
(103, 15, 25, 1551571026000, 159811815678000)
(28, 17, 13, 1551570722000, 43443980216000)
(39, 15, 5, 1551571157000, 60511275123000)
(83, 24, 16, 1551570605000, 128780360215000)
(92, 38, 2, 1551570902000, 142744522984000)
(21, 6, 24, 1551570904000, 32582988984000)
(88, 7, 23, 1551570877000, 136538237176000)

In [80]:
help(time.sleep)

Help on built-in function sleep in module time:

sleep(...)
    sleep(seconds)

    Delay execution for a given number of seconds.  The argument may be
    a floating point number for subsecond precision.